div
{ 
    padding: 10px;
    margin: 10%;
    font-size: 30px;
    margin-top: 30px;

}
div input
{
    padding: 10px;

}
body
{
    background:linear-gradient(115deg,hotpink 10%,rgb(0, 128, 119) 90%);
    display: flex;
    flex-wrap: wrap;
}
